@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.cover {
  background: url('../img/background.jpg') top no-repeat;
  background-size: cover;
  background-position: center;
  display: table;
  height: 100vh;
  padding: 0 20%;
  width: 100%;
  position: relative;
  box-shadow: inset 0 0 100px #000000, inset -0 -0 100px #000000;
}

.cover-heading {
  text-transform: uppercase;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -2px;
}

.navbar.bg-inverse {
  background: rgba(0, 0, 0, 0.5);
}

.caution {
  border: lightblue solid;
  border-radius: 5px;
  background: rgb(245, 243, 243);
}

form.error {
  color: #ff0000;
}
label {
  text-transform: capitalize;
}

.footer-link {
  float: right;
  padding-right: 20px;
  text-transform: capitalize;
  color: red;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}
/* style for profile */

.info h4 {
  text-transform: capitalize;
  font-size: 30px;
}

.info ul li {
  list-style: none;
}
.info ul li a {
  text-decoration: none;
  color: #000000;
}
.info ul li a:hover {
  color: rgb(107, 45, 45);
}

.post form {
  background: whitesmoke;
  padding: 20px;
  border-radius: 20px;
}

.post h1 {
  font-family: source serif pro, sans-serif;
}
.post form textarea {
  height: 100px;
  margin-bottom: 20px;
}

/* style for the tabs */
.tabs {
  margin-top: 1rem;
  padding-top: 1rem;
  border-bottom: 3px solid lightgray;
  width: 100%;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabs .container > div:hover {
  color: aqua;
  cursor: pointer;
}

.tab-border {
  border-bottom: blue 4px solid;
}

.tab-1-content-inner {
  margin-top: 1rem;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

/*profile */
.sidebarMenu {
  height: fit-content;
}
.sidebarMenu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.sidebarMenu ul li {
  text-transform: capitalize;
  list-style: none;
  padding: 10px 15px;
}

.sidebarMenu ul li a {
  list-style: none;
  color: #ffffff;
}

.sidebarMenu .active,
li :hover {
  background: #111111;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
}
