@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
html,
body,
.cover {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.cover {
  background: url('../img/background.jpg') top no-repeat;
  background-size: cover;
  background-position: center;
  display: table;
  padding: 0 20%;
  width: 100%;
  position: relative;
  box-shadow: inset 0 0 100px #000000, inset -0 -0 100px #000000;
}

.cover-heading {
  text-transform: uppercase;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -2px;
}

.navbar.bg-inverse {
  background: rgba(0, 0, 0, 0.5);
}

section {
  padding: 100px;
}

#account form {
  background: whitesmoke;
  margin: auto;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
}

form:hover {
  box-shadow: 0px 0px 20px 2px lightgrey;
}

form.error {
  color: #ff0000;
}
label {
  text-transform: capitalize;
}

.form-header {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

footer {
  background: #000000;
  color: #ffffff;
  height: 50px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  text-transform: uppercase;
}

.footer-link {
  float: right;
  padding-right: 20px;
  text-transform: capitalize;
  color: red;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}
/* style for profile */

.profile {
  height: 100vh;
}

.details img {
  width: 200px;
  margin-bottom: 30px;
}

.details {
  margin-right: 20px;
}

.info h4 {
  text-transform: capitalize;
  font-size: 30px;
}

.info ul li {
  list-style: none;
}

.post form {
  background: whitesmoke;
  padding: 20px;
  border-radius: 20px;
}

.post h1 {
  font-family: source serif pro, sans-serif;
}
.post form textarea {
  height: 100px;
  margin-bottom: 20px;
}

/* style for the tabs */
.tabs {
  margin-top: 1rem;
  padding-top: 1rem;
  border-bottom: 3px solid lightgray;
  width: 100%;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabs .container > div:hover {
  color: aqua;
  cursor: pointer;
}

.tab-border {
  border-bottom: blue 4px solid;
}

.tab-1-content-inner {
  margin-top: 1rem;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

@media only screen and (min-device-width: 480px) {
  #account form {
    width: 50%;
  }
}
